
{% extends "base.html" %}

{% block content %}

{% include "tasks/article_create_form.html" %}
<br />
<form hx-trigger="keyup,mouseup delay:100ms" hx-get="{% url 'article-filter' %}" hx-target="#article-list">
    <div class="ui toggle checkbox">
    <input type="checkbox" name="is_complete" value="false">
    <label>Hide Incomplete Articles</label>
    </div>
</form>
<br />
<div id="article-list">
    {% include "tasks/article_filter.html" with object_list=object_list %}
</div>
{% endblock %}
