<tr>
    <td>{% if article.completed_at %}<div title="{{article.completed_at}}">{{article.completed_at_days_since}}</div>{% endif %}</td>
    <td>{% if article.is_highlighted %}
        <a href="{{script_prefix}}article/{{article.id}}">
            <i class="book icon"></i>
        </a>
        {% endif %}
    </td>
    <td>{% if article.time_read_minutes != 0 %}
        {{ article.time_read_minutes }}
        {% endif %}
    </td>
    <td>{{article.name}}</td>
    <td>{{article.author.name}}</td>
    <td><a href="{{article.url}}">Link</a></td>
    <td><a href="{{script_prefix}}p-api/{{article.filename}}">Download</a></td>
</tr>