[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
notion-client = "*"
bs4 = "*"
html2epub = {path = "./Html2Epub"}
wheel = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
sqlalchemy-stubs = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
