<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask HTMX ALPINE App</title>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <!-- Semantic UI -->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js/>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css>

</head>

<body>
    <div class="ui container">
        <h1>Pandora</h1>
        <form class="ui form" hx-post="{{ SUBPATH }}/refresh">
            <button class="ui button">
                <i class="sync alternate icon"></i>Refresh</button>
        </form>
        <h2>Articles</h2>
        <form class="ui form" hx-post="{{ SUBPATH }}/submit" hx-swap="afterbegin" hx-target="#new-book" class="mb-3">
            <label>URL</label>
            <div class="field">
                <input type="text" placeholder="URL" name="url" class="form-control mb-3" />
            </div>
            <button type="submit" class="ui button">Submit</button>
        </form>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Original</th>
                <th>Book</th>
            </tr>
            </thead>
            <tbody id="new-book" hx-target="closest tr" hx-swap="outerHTML swap:0.5s"> 
                {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td><a href="{{book.url}}">Link</a></td>
                    <td><a href="p-api/{{book.filename}}">Download</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>
